<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="app_key" value="2089193565"/>
    <add key="secret_key" value="e513741ef312b7b5e8d9f04264b90de3"/>
    <add key="DBType" value="SQLServer" />
  </appSettings>
  <connectionStrings>
    <add name="ORACLEConnectionString" connectionString="Data Source=;User Id=;Password=;" />
    <add name="SQLServerConnectionString" connectionString="Data Source=localhost;User Id=sa;Password=;database=Sinawler"/>
  </connectionStrings>
</configuration>