<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sinawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Sinawler.Properties.Settings>
      <setting name="appKeyForUserRelation" serializeAs="String">
        <value>{appKeyForUserRelation}</value>
      </setting>
      <setting name="appSecretForUserRelation" serializeAs="String">
        <value>{appSecretForUserRelation}</value>
      </setting>
      <setting name="appKeyForUserInfo" serializeAs="String">
        <value>{appKeyForUserInfo}</value>
      </setting>
      <setting name="appSecretForUserInfo" serializeAs="String">
        <value>{appSecretForUserInfo}</value>
      </setting>
      <setting name="appKeyForUserTag" serializeAs="String">
        <value>{appKeyForUserTag}</value>
      </setting>
      <setting name="appSecretForUserTag" serializeAs="String">
        <value>{appSecretForUserTag}</value>
      </setting>
      <setting name="appKeyForStatus" serializeAs="String">
        <value>{appKeyForStatus}</value>
      </setting>
      <setting name="appSecretForStatus" serializeAs="String">
        <value>{appSecretForStatus}</value>
      </setting>
      <setting name="appKeyForComment" serializeAs="String">
        <value>{appKeyForComment}</value>
      </setting>
      <setting name="appSecretForComment" serializeAs="String">
        <value>{appSecretForComment}</value>
      </setting>
      <setting name="MinSleepMsForUserRelation" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MinSleepMsForUserInfo" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MinSleepMsForUserTag" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MinSleepMsForStatus" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MinSleepMsForComment" serializeAs="String">
        <value>500</value>
      </setting>
    </Sinawler.Properties.Settings>
  </applicationSettings>
</configuration>